@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* Common Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}
body {
  overflow-x: hidden;
  font-family: var(--font-base);
}

body::-webkit-scrollbar {
  display: none;
}
  
a:focus {
  outline: none;
  box-shadow: none;
}

a:hover {
  color: var(--umkc-yellow);
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
input:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}
button:focus,
:focus-visible {
  outline: none;
  border: none;
}
/* Root*/
:root {
  --umkc-yellow: #ffdd00;
  --umkc-blue: #0066cc;
  --black-color: #000000;
  --white-color: #ffffff;
  --box-light: #dee7f1;
  --body: #727272;
  --font-base: "Lexend", sans-serif;
  --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
  --transition: all .5s ease;
}

/* Header */
header {
  padding: 5px 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  text-align: center;
}

.h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 400px !important;
  line-height: normal !important;
  color: var(--white-color) !important;
  margin: 0 !important;
}

.navbar-brand {
    color: var(--white-color);
    font-family: "Lexend";
    font-weight: 900;
}

.container-fluid {
    color: var(--white-color)
}

.nav-link {
    color: var(--white-color);
    font-family: "Lexend";
    font-weight: 300;
}

.btn,a {
    color: var(--white-color);
    margin: 8px;
}

/*clothes Images */
.all-image {
  opacity: 1;
  position: absolute;
}
.image-one {
  max-width: 250px;
  bottom: 25px;
  left: 11%;
}

#clock {
 width: 210px;
 
}

.image-two {
  max-width: 250px;
  top: 23%;
  left: 25%;
}

#shoe {
    width: 180px;
}

#coffee {
    width: 300px;
}

.image-three {
  max-width: 211px;
  top: 23%;
  right: 25%;
}

#toaster {
   width: 280px;
}

#lamp {
    width: 300px;
}

.image-four {
  max-width: 250px;
  bottom: 100px;
  right: 8%;
}

#socks {
    width: 220px;
}

#watch {
    position: relative;
    width: 190px;
    top: -50px;
}

.image-five {
  max-width: 250px;
  left: 2%;
  top: 18%;
}

#fan {
    width: 280px;
}

#camera {
    width: 190px;
}

.image-six {
  max-width: 200px;
  top: 12%;
  right: 2%;
}


/* After */
.all-image::after {
  content: "";
  position: absolute;
  opacity: 0.43;
  filter: blur(7.5px);
  transform: rotate(-6.941deg);
  right: 0;
  width: 173px;
  height: 30px;
}
.image-one::after {
  bottom: -50px;
}
.image-two::after {
  bottom: -200px;
  height: 22px;
}
.image-three::after {
  bottom: -280px;
  width: 103px;
}
.image-four::after {
  bottom: -50px;
}
/*Section  */
.section-container-main {
  width: 100vw;
  position: relative;
  z-index: -1;
}
.section-container {
  width: 300vw;
  display: flex;
  position: relative;
  transition: all ease-in-out 0.5s;
  align-items: center;
}
.section {
  min-width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;
  background: var(--umkc-blue);
}
.section:nth-child(2) {
  background-color: var(--umkc-yellow);
}
.section:nth-child(3) {
  background-color: var(--black-color);
}
/* Add this to your CSS */
/* Buttons */
button {
  position: absolute;
  top: 50%;
  right: 30px;
  z-index: 99;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: var(--white-color);
  border: none;
  font-size: 40px;
  color: var(--apple-logo);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
#prevButton {
  left: 30px;
  right: unset;
  display: none;
  transition: all ease-in 0.3s;
}

.wave {
  animation: wave-apple-effect 4s linear infinite;
  animation-direction: normal;
}

@keyframes wave-blue-effect {
  0% {
    box-shadow: 0 0 0 0px var(--umkc-blue),
      0 0 0 0px var(--umkc-blue);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
      0 0 0 0px var(--umkc-blue);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
  }
}
@keyframes wave-yellow-effect {
  0% {
    box-shadow: 0 0 0 0px var(--umkc-yellow),
      0 0 0 0px var(--umkc-yellow);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
      0 0 0 0px var(--umkc-yellow);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
  }
}
@keyframes wave-black-effect {
  0% {
    box-shadow: 0 0 0 0px var(--black-color),
      0 0 0 0px var(--black-color);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
      0 0 0 0px var(--black-color);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
  }
}

/*.......... Responsive.............. */
@media screen and (max-width: 1550px) {
 
  .cane-image {
    max-width: 280px;
  }
  .image-one {
    max-width: 250px;
  }
  .image-two {
    max-width: 215px;
    left: 22%;
    top: 10%;
  }
  .image-three {
    max-width: 180px;
  }
  .image-four {
    max-width: 260px;
    right: 40px;
  }
}
@media screen and (max-width: 1199px) {
  h1 {
    font-size: 300px !important;
  }
  .cane-image::after {
    width: 150%;
  }
  .image-one {
    max-width: 220px;
  }
  .image-two {
    max-width: 185px;
    left: 18%;
    top: 10%;
  }
  .image-three {
    max-width: 180px;
    right: 18%;
  }
  .image-four {
    max-width: 230px;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 240px !important;
  }
  .cane-image {
    max-width: 250px;
  }
  button {
    height: 80px;
    width: 80px;
    top: 90%;
  }
  .image-one {
    max-width: 180px;
  }
  .image-two {
    max-width: 165px;
    left: 12%;
    top: 12%;
  }
  .image-three {
    max-width: 150px;
    right: 12%;
  }
  .image-four {
    max-width: 200px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 180px !important;
  }
  h2 {
    font-size: 30px;
  }
  .cane-image {
    max-width: 180px;
  }
  button {
    height: 60px;
    width: 60px;
    font-size: 20px;
  }
  .image-one {
    max-width: 180px;
    bottom: 150px;
  }
  .image-two {
    max-width: 145px;
    left: 12%;
    top: 15%;
  }
  .image-three {
    max-width: 130px;
    right: 10%;
  }
  .image-four {
    max-width: 180px;
    bottom: 150px;
  }
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 100px !important;
  }
  .cane-image::after {
    width: 100%;
  }
  .image-one {
    max-width: 150px;
  }
  .image-two {
    max-width: 115px;
    left: 4%;
    top: 18%;
  }
  .image-three {
    max-width: 100px;
    right: 4%;
  }
  .image-four {
    max-width: 150px;
    right: 0;
  }
}

.about-section {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.container {
  --bs-gutter-x: 1.875rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-y) * .5);
  margin-right: auto;
  margin-left: auto;
}

#services, .row {
  display: flex;
  flex-wrap: wrap;
}


.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.line {
  background-color: var(--umkc-blue);
  height: 5px;
  width: 60px;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.theme-shadow {
  box-shadow: var(--box-shadow);
}

.iconbox {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background:  var(--box-light);
  color: var(--umkc-blue);
  font-size: 34px;
  flex: none;
}

.service {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.service::after {
  content: "";
  width: 40px;
  height: 40px;
  background: var(--box-light);
  position: absolute;
  right: 0;
  bottom: 0;
  transition: var(--transition);
}

.service:hover::after {
  width: 100%;
  height: 100%;
  background-color: var(--umkc-blue);
  z-index: -1;
}

.service:hover h5, .service:hover p {
  color: white;
}

.service:hover .iconbox {
  background-color: rgba(255,255,255,.2);
  color: white;
}