.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    
}


.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
  }
  
  .cardContainerWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5vh;
  }