.profileData{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
}
.dataInfo{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.dataLabel{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
gap: 1vh;
}
.dataTitle{
    font-weight: bold;
    padding-bottom: 5vh;
    font-size: 2rem;
}

.dataWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: goldenrod;
    padding: 5vh;
    border-radius: 10px;
    width: 30%;
    gap: 4vh;
}

.profilepicBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56%;
    overflow: visible;
}


.profilePageWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.profilePic{
    border: 1px solid black;
    border-radius: 50%;
}

.data{
    display: flex;
}