.formMods{
    width: 30%;
}

.formWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    gap: 5vh;
    
}

.formRedirect{
    display: flex;
    justify-content: left;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: blue;
}

.signupBox{
    height: 5vh;
    border-radius: 10px;
    background-color: #fdf9e7 !important;
    border: 2px solid #c6b356 !important;
}